body {
    background-color:#008000;
    color: #D7CEC7;
    font-size: 150%;
    
}


}

h3{
    margin:0px;
    color: #CED7A7;
}

h2{
    margin:0px;
}

#main {
    padding: 20px;
}

a {
   
}
.box img{
    margin: 0;
    padding: 0;
    width: 100%;
}
